@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Vidly!</h1>
  <p class="lead">Vidly! is a web application where you can rent movies online and get discounts.</p>
  <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Getting started</h2>
    <p>
      Create an account and login in order to make a rent for the movie you want.<br />
      To make a rental, you go to the movies page of the application and see the list of movies.
      Choose the one(s) you are interested in and then make your order.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Prices</h2>
    <p>
      There are plans that you can choose before you make a rental. There is also an option without
      plan. In this case you get no discount and you pay as you go.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Policy</h2>
    <p>
      Movies are to be returned within the two weeks after the date of rental.
      Failing to comply to this rule will result in a late fee according to the
      length of delay.</p>
  </div>
</div>